.DS_Store
*~
miserarenaiyo/*
*.swp
*.swo
*.swn
.vim/bundle
.bash_profile
tmp

.vim/.netrwhist
.vim/dein

dump.rdb
npm-debug.log
.zsh.d/personal

.atom/.apm/
.atom/.node-gyp/
.atom/blob-store/
.atom/packages/
.atom/compile-cache/
.atom/storage/
