[user]
  name = Yuya Fujiwara
  email = hzw1258@gmail.com
[core]
  excludesfile = ~/.gitignore
  editor = nvim -c \"set fenc=utf-8\"
  pager = less --tabs=1,3,5,7,9,13

[pager]
  log = diff-highlight | less --tabs=1,3,5,7,9,13
  show = diff-highlight | less --tabs=1,3,5,7,9,13
  diff = diff-highlight | less --tabs=1,3,5,7,9,13

[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"%C(cyan)%h%Creset %C(red)%ad%Creset [%an] %Cgreen%d%Creset %s\" --all --date=short --decorate
    graph1 = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
    gr = log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(black bold)%an, %ar%Creset'
    delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
    st = status -sb
    df = diff
    dfs = diff --staged
    co = checkout
    last = show -1 HEAD --stat -p
    me = log --author=asonas
    ci = commit -v
    bull = pull
    dfw = diff --color-words
    b = branch
    log = log --decorate
    l = log --decorate
    g = grep -i
    fe = fetch
    cp = cherry-pick
    tag = tag -n
    pr = pull --rebase
    zoi = commit --allow-empty --message '[WIP] 今日も1日がんばるぞい！'
    branches = branch -a
    tags = tag
    stashes = stash list
    unstage = reset -q HEAD --
    discard = checkout --
    uncommit = reset --mixed HEAD~
    amend = commit --amend
    nevermind = !git reset --hard HEAD && git clean -d -f
    remotes = remote -v
    cleanup = remote prune
    pbcopy = !printf "$1" | pbcopy
    sw = switch

[color]
    ui = true
    diff = true

[branch]
  autosetuprebase = always
[merge]
  conflictstyle = merge
[rebase]
  autosquash = true
[ghq]
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[github]
	user = asonas
[ghi]
	token = !security find-internet-password -a asonas -s github.com -l 'ghi token' -w
[include]
  path = ~/.gitconfig-private
[fetch]
    parallel = 8

