.DS_Store
*~
miserarenaiyo/*
*.swp
*.swo
*.swn
.vim/bundle
.bash_profile
tmp

.vim/.netrwhist
.vim/dein/.cache
.vim/dein/cache_nvim
.vim/dein/state_nvim.vim
.vim/dein/repos

dump.rdb
npm-debug.log
.zsh.d/personal
.zsh.d/completions/

.atom/.apm/
.atom/.node-gyp/
.atom/blob-store/
.atom/packages/
.atom/compile-cache/
.atom/storage/

.gitconfig-private

.config/exercism/user.json
.config/hub
.config/configstore
.config/karabiner/automatic_backups
.config/google-chrome
.config/gcloud

.idea/
.generators
