[user]
  name = asonas
  email = hzw1258@gmail.com
[core]
  excludesfile = /Users/fuji_seal/.gitignore
  editor = vim -c \"set fenc=utf-8\"

[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less

[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"%C(cyan)%h%Creset %C(red)%ad%Creset [%an] %Cgreen%d%Creset %s\" --all --date=short --decorate
    gr = log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(black bold)%an, %ar%Creset'
    delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
    st = status -sb
    df = diff
    dfs = diff --staged
    co = checkout
    last = show -1 HEAD --stat -p
    me = log --author=asonas
    ci = commit -v
    bull = pull
    dfw = diff --color-words
    b = branch
    log = log --decorate
    l = log --decorate
    g = grep -i
    fe = fetch
    cp = cherry-pick
    tag = tag -n
    pr = pull --rebase
    zoi = commit --allow-empty --message '[WIP] 今日も1日がんばるぞい！'
[color]
    ui = true
    diff = true

[branch]
  autosetuprebase = always
[merge]
  confilictstyle = diff3
[rebase]
  autosquash = true
[ghq]
  root = ~/go/src
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[github]
	user = asonas
[ghi]
	token = !security find-internet-password -a  -s github.com -l 'ghi token' -w
