[user]
    name = asonas
    email = hzw1258@gmail.com
[core]
    excludesfile = ~/.gitignore
    pager = "lv -c"
	editor = vim -c \"set fenc=utf-8\"

[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    gr = log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(black bold)%an, %ar%Creset'
    delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
    st = status -sb
    df = diff
    dfc = diff --cached
    co = checkout
    last = show -1 HEAD --stat -p
    me = log --author=asonas
    ci = commit -v
    bull = pull
    dfw = diff --color-words
    b = branch
    log = log --decorate
    l = log --decorate
    g = grep -i
    fe = fetch
    cp = cherry-pick
    tag = tag -n
    pr = pull --rebase
[color]
    ui = true
    diff = true

[branch]
	autosetuprebase = always
