# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# 'body':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

'.editor':
  'ctrl-g': 'core:escape'

'.editor:not(.mini)':
  'alt-tab': 'editor:auto-indent'

'.platform-darwin .tree-view':
  'i': 'tree-view:open-selected-entry-down'
  's': 'tree-view:open-selected-entry-right'
  't': 'tree-view:open-selected-entry'
